/* #Variables
--------------------------------------------------------------- */
:root {
    /* Colors */
    --black: #111212;
    --white: #FFFFFF;

    --dove: #666666;
    --wild-sand: #F5F5F5;
    --hippie: #4DA19A;
    --hippie-80: #70B4AE;
    --hippie-50: #A6D0CD;
    --hippie-30: #C9E3E1;
    --hippie-16: #E3F0EF;

    --primary: var(--hippie);
    --content-color: var(--black);
    --accent-content-color: var(--primary);

    /* Fonts */
    --bold: "Manrope", sans-serif;
    --body: "Manrope", sans-serif;

    /* Radius */
    --border-radius: 0;

    /* Spacings */
    --header-height: 87px;
    --container-padding: 2rem;

    --spacing-xxs: 0.5rem;
    --spacing-xs: 1rem;
    --spacing-sm: 1.5rem;
    --spacing-md: 3.75rem;
    --spacing-lg: 6.25rem;

    --spacing-section-inner: var(--spacing-md);
    --spacing-section-outer: var(--spacing-lg);
    --content-spacing: 2.25em;

    /* Motion */
    --transition-duration: 250ms;
    --transition-timing: ease;
}

@media screen and (min-width: 992px) {
    :root {
        --spacing-lg: 10rem;
    }
}
